.navbar {
  background-color: #ff732b;
}
.navbar nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar nav li {
  display: flex;
}

.navbar img {
  width: 48px;
  height: 48px;
}

.navbar .search-box {
  padding: 10px;
  width: 250px;
} 
